body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #222;
    padding: 15px;
}

nav a{
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

main{
    padding: 20px;
}

img{
    max-width: 300px;
    display: block;
    margin: 15px;
}

footer{
    background: #fff;
    text-align: center;
    padding: 10px;
}